<div class="card">
    <div class="card-body text-center">
        <h1>About Us</h1>
        <h3>¿Qué es Share Japan?</h3>
            <p>
                Share Japan es una plataforma digital que nace con la finalidad de aportar información variada sobre Japón a través de las interacciones de los diferentes usuarios. Nuestro objetivo es dar a conocer el país nipón por medio de las experiencias, reseñas y consejos de todos aquellos que lo hayan visitado así como resolver las dudas de los que lo harán en un futuro próximo.

                A principios de marzo de 2020, el mundo ha estado envuelto en una de las mayores crisis sanitarias de la historia reciente, la pandemia del coronavirus. A raíz de ello, uno de los mayores placeres en nuestras vidas, viajar, ha sido prácticamente imposible. No obstante, con la llegada de las vacunas, se empieza a ver la luz al final del túnel. Es por ello, que hemos creado Share Japan. A través de esta plataforma, queremos que los usuarios se puedan ir preparando e informando para que, esperemos pronto, puedan hacer las maletas.
            </p>
        <h3>¿Quién está detrás de Share Japan?</h3>
            <p>
                De momento, Share Japan es gestionada tan solo por dos amantes de Japón:

                Giovanna es graduada en lengua japonesa y ha trabajado para empresas como Zoom Japan y Aprende Japonés Hoy. La plataforma ha sido íntegramente diseñada por ella utilizando principalmente Handlebars y Javascript.

                Federico es biólogo y amante de las zonas rurales. Ha trabajado para la prestigiosa agencia de viajes Japan Experience.

                Los dos somos unos apasionados de Japón y hemos viajado en repetidas ocasiones, visitando el país desde el frío norte de Hokkaido hasta el tropical sur de Okinawa. Es por ello, que estaremos encantados de aportar nuestro granito de arena a todos aquellos que quieran emprender un primer viaje a Japón e incluso a los que vayan a repetir.
            </p>
    </div>
</div>