{{!-- <h4><a href="/select/tokyo">Tokyo</h4></a>
<h4><a href="/select/kyoto">Kyoto</h4></a>
<h4><a href="/select/osaka">Osaka</h4></a>
<h4><a href="/select/sapporo">Sapporo</h4></a> --}}


    <img class="jpmap img-responsive" src="/public/img/jp_map.png" alt="Japan map" usemap="#jpmap" hidefocus="true"/>
    <map name="jpmap">
        <area shape="circle" coords="750, 150, 90" href="/select/sapporo" alt="Hokkaido">
    </map>

