html, body {
    height: 100%;
    margin: 0;
  }
  
body {
display: flex;
flex-direction: column;
}

/* Assuming footer height is fixed, e.g., 50px */
footer.page-footer {
    height: 50px; /* Fixed height for footer */
    width: 100%;
    box-sizing: border-box;
    margin-top: auto;
}

@media (max-width: 768px) {
    footer.page-footer .footer-copyright {
        font-size: 14px;
        padding: 10px;
    }
}

.navbar-brand img{
    width: 10%;
    padding-left: 10px;
}

.fa{
    color: black;
}

i{
    color: green;
}
.black{
    color: black;
    font-size: 10px;
    font-family: Monospace;
}

#main{
    top:15px;
    height: calc(100vh - 15px - 35px - 50px);
    overflow: scroll;
  }
#post{
    top:15px;
    height: calc(100vh - 15px - 355px - 50px);
    overflow: scroll;
  }

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

#link:link {
    text-decoration: none;
}
#link:visited {
    text-decoration: none;
  }
#link:hover {
    text-decoration: none;
  }
#link:active {
    text-decoration: none;
  }
#link{
    color: black;
}
.logo{
    width: 10%;
}
.jpmap {
    width: 85%;
    /* height: auto; */
}
.pagination .page-item.active .page-link {
    color: black; /* Set text color to black */
    background-color: lightgray; /* Optional: Adjust background color */
    border-color: black; /* Optional: Adjust border color if needed */
}
.card-header {

    border: none;
}
.text-content{
    float:left;
}

.button-group {
    display: flex;
    gap: 10px;
    float:right;
}

.button-group button {
    background-color: #fff; /* white background */
    color: #000; /* black text */
    border: 2px solid #000; /* black border */
    padding: 10px 20px; /* space inside the button */
    cursor: pointer; /* pointer cursor on hover */
    font-size: 16px; /* font size */
    font-weight: bold; /* bold text */
    text-transform: uppercase; /* uppercase text */
    border-radius: 5px; /* rounded corners */
    transition: all 0.3s ease; /* smooth transition for hover effect */
}
.btn-delete:hover {
    background-color: #000; /* black background on hover */
    color: #fff; /* white text on hover */
    border-color: #fff; /* white border on hover */
}

.btn-edit:hover {
    background-color: #000; /* black background on hover */
    color: #fff; /* white text on hover */
    border-color: #fff; /* white border on hover */
}

.btn-success {
    background: none; 
    border: none; 
    padding: 0; 
    cursor: pointer;
}

.btn-upload {
    background-color: #fff; /* white background */
    color: #000; /* black text */
    border: 2px solid #000; /* black border */
    padding: 10px 20px; /* space inside the button */
    cursor: pointer; /* pointer cursor on hover */
    font-size: 16px; /* font size */
    font-weight: bold; /* bold text */
    text-transform: uppercase; /* uppercase text */
    border-radius: 5px; /* rounded corners */
    transition: all 0.3s ease; /* smooth transition for hover effect */
}

.btn-upload:hover {
    background-color: #000; /* black background on hover */
    color: #fff; /* white text on hover */
    border-color: #fff; /* white border on hover */
}

/* Write post style */
.img-wrapper {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
}

.delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(255, 0, 0, 0.7);
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 16px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: red;
}