<!-- Row 1 -->
<div class="d-flex justify-content-center" style="gap: 4rem;">
  <div class="card" style="width: 36rem; cursor: pointer;" onclick="window.location='/all-posts'">
    <img src="/public/upload/67a660c1cf0035730411c0c8/0rq4lxf.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">All Posts</p>
    </div>
  </div>

  <div class="card" style="width: 36rem; cursor: pointer;" onclick="window.location='/under_maintenance'">
    <img src="/public/upload/67a660c1cf0035730411c0c8/0rq4lxf.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Recipes</p>
    </div>
  </div>
</div>

<!-- Row 2 with bigger top margin -->
<div class="d-flex justify-content-center" style="gap: 4rem; margin-top: 5rem;">
  <div class="card" style="width: 36rem; cursor: pointer;" onclick="window.location='/under_maintenance'">
    <img src="/public/upload/67a660c1cf0035730411c0c8/0rq4lxf.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Learn 日本</p>
    </div>
  </div>

  <div class="card" style="width: 36rem; cursor: pointer;" onclick="window.location='/under_maintenance'">
    <img src="/public/upload/67a660c1cf0035730411c0c8/0rq4lxf.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Shop</p>
    </div>
  </div>
</div>
