<div class="row">
    <div class="col-md-4 mx-auto">
         <div class="card mt-4 text-center">
            <div class="card-header">
                <h1>Login</h1>
            </div>
            <img src="/public/img/share-japan_logo.png" class="mx-auto d-block m-4 logo" alt="share-japan logo">
            <div class="card-body">
                <form action="/user/login" method="POST">
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="e-mail">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">SignIn!</button>
                    </div>
                </form>
                <div>
                    <p>Did you forget your password? Click <a href="/user/forgot_password">here</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>