<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card text-center">
            <div class="card-header">
                <h1>Reset Password</h1>
            </div>
            <img src="/public/img/share-japan_logo.png" class="mx-auto d-block m-4 logo" alt="share-japan logo">
            <div class="card-body">
                <form action="/user/resetPassword/{{ user.originalSecretToken }}?_method=PATCH" method="POST">
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="e-mail" value="{{user.email}}" readonly>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="new password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirmPassword" placeholder="confirm password">
                    </div>
                    <button class="btn btn-primary btn-block">
                        send
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>