<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card text-center">
            <div class="card-header">
                <h1>My Profile</h1>
            </div>
            <img src="/public/img/share-japan_logo.png" class="mx-auto d-block m-4 logo" alt="share-japan logo">
            <div class="card-body">
                <form action="/user/settings/{{ loggedUser._id }}?_method=PUT" method="POST">
                    <input type="hidden" name="_method" value="PUT">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Name" value={{loggedUser.name}}>
                    </div>
                    <button class="btn btn-primary btn-block">
                        Modify
                    </button>
                </form>
                <br/>
                {{#if user}}
                <form action="/user/{{ loggedUser._id }}?_method=DELETE" method="POST" onclick="return confirm('Are you sure you want to delete your account?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit">
                        <i class="fa fa-trash-o" aria-hidden="true"> Delete account</i>
                    </button>
                </form>
                {{/if}}
            </div>
        </div>
    </div>
</div>