<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{>head}}
</head>
<body>
    {{>navigation}}
    <div class="container-fluid px-3">            <!-- full width, no side padding -->
        <div class="row gx-3">                      <!-- remove gutters -->
            <div class="col-md-8" style="max-height: 100vh;">
                {{> messages}}
                {{> errors}}
                {{{ body }}}
            </div>

            {{#if show_counting}}
            <div class="col-12 col-md-4" style="max-height: 100vh; overflow-y: auto;">
                <div class=" w-100 mt-4 segmentation-scroll">
                    {{> segmentation }}
                </div>
            </div>
            {{else}}
            <div class="col-12 col-md-4">
            <div class="w-100 mt-4">
                {{> menu }}
            </div>
            </div>
            {{/if}}
        </div>
    </div>
    {{>footer}}
    <!-- Bootstrap CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

        <!-- Bootstrap JS and dependencies -->
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!--CUSTOM CODE-->
  <script type="text/javascript" src="/public/js/imageMapResizer.min.js"></script>
  <script type="text/javascript">$('map').imageMapResize();</script>
</body>
</html>