<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{>head}}
</head>
<body>
    {{>navigation}}
    {{#if popular}}
    <div class="container-fluid p-4">
        <div class="row">
            <div class="col-md-10">
                {{> messages}}
                {{> errors}}

                {{{ body }}}
                {{#if pages}}
                    {{> pagination}}
                {{/if}}
            </div>
            <div class="col-md-2">
                {{> popular }}
            </div>
        </div>
    </div>
    {{else}}
    <main class="container-fluid p-4">
        <div class="row">
            <div class="col-md-12">
                {{> messages}}
                {{> errors}}

                {{{ body }}}
            </div>
        </div>
    </main>
    {{/if}}

    {{>footer}}
    <!--SCRIPT-->
    <script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  <!--CUSTOM CODE-->
  <script src="/public/js/scripts.js"></script>
</body>
</html>